.big-img{
		width:180px;
 		height:150px;
		margin-left:5px;
}
	
.big-img:hover {
		cursor: pointer;
		border-color: #9a9fa4;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.85);
}

.layui-carousel{
	background-color: transparent;
}